<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <p>Название</p>
    <input type="text" name="name" value="qqq">
    <p>Автор</p>
    <select name="writer" id="writer">
        {% for writer in writers %}
        <option value="{{ writer.id }}">{{ writer.firstname }} {{ writer.lastname }}</option>
        {% endfor %}
    </select>
    <button>Изменить</button>
</form>
</body>
</html>