<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    {% csrf_token %}
    <p>Название</p>
    <input type="text" name="name" value="{{book.name}}">
    <p>Автор</p>
    <select name="writer" id="writer">
        {% for writer in writers %}
        {% if writer.id == book.writer_id %}
        <option value="{{ writer.id }}" selected>{{ writer.firstname }} {{ writer.lastname }}</option>
        {% else %}
        <option value="{{ writer.id }}">{{ writer.firstname }} {{ writer.lastname }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <p>Жанры:</p>
    <select name="genres" id="genres" multiple>
        {% for genre in genres %}
        {% if genre in book.genres.all %}
        <option value="{{ genre.id }}" selected> {{ genre.name }}</option>
        {% else %}
        <option value="{{ genre.id }}"> {{ genre.name }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <br><button>Изменить</button>
</form>
</body>
</html>